@import "../constants.scss";

.background-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size:cover; 
    width:auto;
    background-image:url('../assets/background.jpg');
    background-position: 50% 50%;
}

.background-opacity {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba($--wp--preset--color--cyan-bluish-gray, 0.75);
}