
<div class="wrapper" *ngIf="(selectedData | json) != '{}'">
  <div  id="racesDone">
    <app-base-card 
      [data]="selectedData.racesDone" 
      icon="assets/flag.svg" 
      title="Races dones"
      tootipText="Count of starts from every driver. A race with 20 driver will count as 20, not 1">
    </app-base-card>
  </div>
  <div id="newRacers">
    <app-base-card 
      [data]="selectedData.newRacers" 
      icon="assets/helmet.svg"
      title="New Racers"
      tootipText="Number of active racers during the week (and new ones)"
      deltaText="new drivers">
    </app-base-card>
  </div>
  <div id="licenseChange">
    <app-license-change 
      [data]="selectedData.licenseChange" 
      title="License change">
    </app-license-change>
  </div>
  <div id="inputBlock">
    <app-week-form [inputs]="allInputs" (onWeekChange)="updateData($event)" (onModeChange)="resetData($event)"></app-week-form>
  </div>
  <div id="lapsDone">
    <app-base-card 
      [data]="selectedData.lapsDone" 
      icon="assets/track.svg"
      title="Laps done"
      tootipText="Number of laps done in races during the week">
    </app-base-card>
  </div>
  <div id="avgInc">
    <app-base-card 
      [data]="selectedData.avgInc" 
      icon="assets/inc.svg"
      title="Average Inc."
      tootipText="Avg Inc per race from active players at the end of the week">
    </app-base-card>
  </div>
  <div id="awards">
    <app-runner-up 
      [data]="selectedData.awards" 
      title="Awards">
    </app-runner-up>
  </div>
  <div id="dist">
    <app-dist-ir [data]="selectedData.dist"></app-dist-ir>
  </div>
  <div id="country">
    <app-map-driver [data]="selectedData.country"></app-map-driver>
  </div>
  <div  id="avgIR">
    <app-base-card 
      [data]="selectedData.avgIR" 
      icon="assets/iR.svg"
      title="Average IRating."
      tootipText="Avg IR of active players at the end of the week">
    </app-base-card>
  </div>
  <div id="avgTT">
    <app-base-card 
      [data]="selectedData.avgTT" 
      icon="assets/ttR.svg"
      title="Average TTRating."
      tootipText="Avg TTRating of active players at the end of the week">
    </app-base-card>
  </div>
</div>