.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  // grid-auto-rows: minmax(100px, auto);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
}

#racesDone {
  grid-column: 2;
  grid-row: 1;
}

#newRacers {
  grid-column: 2;
  grid-row: 2;
}

#lapsDone {
  grid-column: 2;
  grid-row: 3;
}

#avgInc {
  grid-column: 3;
  grid-row: 1;
}

#avgIR {
  grid-column: 3;
  grid-row: 2;
}

#avgTT {
  grid-column: 3;
  grid-row: 3;
}

#licenseChange {
  grid-column: 4;
  grid-row: 1/4;
}

#inputBlock {
  grid-column: 1;
  grid-row: 1/3;
}

#awards {
  grid-column: 1;
  grid-row: 3/4;
}

#dist {
  grid-column: 1/3;
  grid-row: 4;
}

#country {
  grid-column: 3/5;
  grid-row: 4;
}